.bodyButton {
  width: 100px;
  height: 100px;
}
button {
  border-style: hidden;
  border: solid 1px;

  background-color: white;
  transition: 0.9s;

  cursor: pointer;
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  transition: 1.2s;
  background-color: #fdf0d5;
}

button:disabled, button[disabled] {
  background-color: white;
}

.red {
  color: #c1121f;
}
.blue {
  color: #003049;
}