.bodyButton {
  width: 100px;
  height: 100px;
}
button {
  border-style: hidden;

  background-color: white;
  transition: 0.9s;

  cursor: pointer;
  height: 100px;
  width: 100px;
}

button:hover {
  transition: 1.2s;
  background-color: #5aa9e6;
}

button:disabled, button[disabled] {
  background-color: white;
}