@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: grid;
  justify-content: center;
  
}

h1, p {
  font-family: 'Press Start 2P';
}
p {
  font-size: 11px;
  margin-top: 20px;
}
h3 {
  font-size: 48px;
  font-family: 'Press Start 2P';
  text-transform: uppercase;
}

button {
  outline: none;
  cursor: pointer;
}

.h1 {
  font-size: 24px;
  font-family: 'Press Start 2P';
  text-transform: uppercase;
}

.flexSquare {
  display: flex;
}

.bodySquare {
  width: 100%;
  height: 100%;


  display: grid;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.flex {
  display: flex;
}
.bodyTurn{
  width: 100%;
  padding: 20px 0;

  margin-top: 30px;
  background-color: white;

  /* border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px; */

  text-align: center;

}

.bodyButton {
  width: 100px;
  height: 100px;
}
.btn {
  border-style: hidden;
  

  background-color: white;
  transition: 0.9s;

  cursor: pointer;
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  transition: 1.2s;
  background-color: #fdf0d5;
}

.btn:disabled, button[disabled] {
  background-color: white;
}

.red {
  color: #c1121f;
}
.blue {
  color: #003049;
}

.btn-res {
  background-color: #808080;
  border-radius: 10px;
  border-style: hidden;

  box-shadow: rgb(31, 30, 30) 0px 1px 3px 0px, rgba(0, 0, 0, 0.637) 0px 0px 0px 1px, #949494 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.767) -3px -3px 6px 1px inset;

  width: 50px;
  height: 20px;

  cursor: pointer;

  transform: rotate(135deg);

  margin-top: 10px;
}

.btn-res-class {
  display: grid;
  justify-content: center;
  align-items: center;
}

.btn-ai {
  border-radius: 50px;

  background-color: #AFACDB;

  width: 50px;
  height: 50px;

  cursor: pointer;

  border-style: none;

  box-shadow: #AFACDB -3px -3px 6px 0px inset, rgba(255, 255, 255, 0.767) 3px -3px 6px 1px inset, rgb(0, 0, 0) -2px -1px 3px 0px, rgba(0, 0, 0, 0.233) 0px 0px 0px 1px;
  
  
  

  margin: auto;
}

.flex-btn {
  display: flex;
  justify-content: space-evenly;
}

.transforme-size {
  font-size: 48px;
}

.border-bottom {
  border-bottom: solid 3px #808080;
}

.border-top {
  border-top: solid 3px #808080;
}

.border-lr{
  border-left: solid 3px #808080;
  border-right: solid 3px #808080;
}

.border-b {
  border: solid 3px #808080;
  
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  gap: 10px;
}

.btn-level{
  margin-left: 20px;
  border-style: none;

  
  border-radius: 10px;


  font-family: 'Press Start 2P';

  background-color: white;
}

.btn-red {
  color: #c1121f;
}