@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: grid;
  justify-content: center;
  
}

h1, p {
  font-family: Lato;
}
h3 {
  font-size: 48px;
  font-family: 'Press Start 2P';
  text-transform: uppercase;
}


.flexSquare {
  display: flex;
}

.flex {
  display: flex;
}
