@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: grid;
  justify-content: center;
  
}

h1, p {
  font-family: Lato;
}
h3 {
  font-size: 48px;
  font-family: 'Press Start 2P';
  text-transform: uppercase;
}


.flexSquare {
  display: flex;
}

.flex {
  display: flex;
}
.bodyTurn{
  width: 100%;
  height: 200px;

  margin-top: 30px;
  background-color: white;

  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;

  text-align: center;

}

.bodyButton {
  width: 100px;
  height: 100px;
}
.btn {
  border-style: hidden;
  border: solid 1px;

  background-color: white;
  transition: 0.9s;

  cursor: pointer;
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  transition: 1.2s;
  background-color: #fdf0d5;
}

.btn:disabled, button[disabled] {
  background-color: white;
}

.red {
  color: #c1121f;
}
.blue {
  color: #003049;
}